.root{
  --grey : rgb(14,15,16);
  --black : rgb(0,0,0);
  --red : rgb(248,68,78);
  --light_red : rgb(207, 57, 68);
}
@font-face{
  font-family: 'monteserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
}
@font-face {
  font-family: Nexa; 
  src: url('//db.onlinewebfonts.com/c/c9f309b3d47969ecac64a77a6c672594?family=Nexa+Bold');
}
*{
  box-sizing: border-box;
}
body{
  font-family: monteserrat;
  background-color: var(--grey);
}
a.nav-item{
  font-family: Nexa;
  background-color: var(--black);
  color: red;
}
.tito{
  color: rgb(128, 0, 107);
  font-size: 1.4em;
}
#menu{
  background-color: rgb(0,0,0);
  color: rgb(248,68,78);
  height: 9vh;
  width: 95vw;
  padding: 10px;
}
#menu>a.button{
  background-color: rgb(56, 58, 62);
  border: 1px solid white;
  padding: 5px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  margin: 0px 5px 0px 5px;
  font-size: 1em;
}
#menu>.button:hover{
  background-color: white;
  color: rgb(207, 57, 68);
}
.banner{
  width: 95vw;
  height: 60vh;
  min-height: auto;
  border: 2px solid red;
}
.black{
  width: 20vw;
  height: auto;
  background-color: var(--black);
  font-size: 1em;
  border: 2px solid white;
  background-image: url('../photos/quotesbg.jpeg');
  padding: 0px;
  border-radius: 4px;
  color: white;
  background-position: right;
  box-shadow: 2px 2px 2px 2px gray;
}
.quote{
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(3px);
  padding: 8px;
}
.quote>small>a{
  color: rgb(207, 57, 68);
  font-size: 1.2em;
  background-color: rgb(14,15,16);
  border-radius: 6px;
  padding:  3px;
}
.quote>small>a:hover{
  color: white;
}
.brand{
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  font-family: Nexa;
  margin-right: 10px;
  background-color: rgb(14,15,16);
}
.quotes, .username{
  color: rgb(194, 194, 3);
  font-size: 2.5em;
}
.username{
  font-size: 0.9em;
}