{%extends 'base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block content%}
{{title}}

<form action = "{{url_for('main.addblog')}}" method="POST" enctype = "multipart/form-data">
<input type="text" name = title class="form-control" required>
<label><input type="radio" name='category' value="Technology">Technology</label>
<label><input type="radio" name='category' value="lifestyle">Lifestyle</label>
<label><input type="radio" name='category' value="journey">journey</label>
<textarea type='text' name="content" >Content</textarea>

<p><i>Add photos after Publishing</i></p>
<input type="submit" placeholder="Publish">
</form>

{%endblock%}